@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

body { background-color: #f0ffff;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.8;
  font-size: 20px;
  font-weight: 300;
  background: #f0ffff;
  color: #1a1a1a; }
}

hr {
  border-color: grey;
  border-style: dotted none none none;
  border-width: 5px;
  width: 5%;
}

.name {  color: #ff4500;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 100px;
}

.heading {color: rgba(0, 0, 0, 0.8);
  font-family: "Poppins", Arial, sans-serif;
  margin: 0 0 30px 0;
  line-height: 1.3;
  text-align: center;
}

.title {
  color: #8a2be2;
  font-size: 30px;

}

.resume {
  color: #ff4500;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;

}

.utkarshimg {
  border-radius: 50%;
}

.heading:hover {
  background-color: white;
}

/* MENU */

/* Add a black background color to the top navigation */
.topmenu {
  background-color: #f0ffff;
  overflow: hidden;
  padding-left: 850px;
}

/* Style the links inside the navigation bar */
.topmenu a {
  color: #000000;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topmenu a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topmenu a.active {
  background-color: #4CAF50;
  color: white;
}

/* SOCIAL MEDIA */

.social-media a {
  display: inline;
  align-items: center;
  padding: 24px;
  transition: all 0.7s ease;
  color: black;
  font-size: 30px;
}

.social-media a:hover {
  border-radius: 50%;
  background-color: #7fffd4;
}

.fewthings {
  font-size: 40px;
  color: #ff4500;
  font-family: 'Source Sans Pro', sans-serif;
}
